.LandingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  position: absolute;
  text-decoration: none;
  text-align: center;
  color: black;
  text-shadow: 2px 2px pink;
  overflow: hidden;
  min-width: 80%;
  max-height: 40%;
  aspect-ratio: 1/2;
  border: solid 4px rgb(100, 25, 25);
  border-radius: 8px;
  background-image: url(/backpage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 86%;
  margin-bottom: 4rem;
  transform-origin: 50% 120%;
  transition: all 100ms linear;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}
.LandingAnimation {
  animation: slide 1500ms linear 300ms forwards;
}
.LandingCenter {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/background-morning.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% center;
}
@keyframes slide {
  0% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px) rotateX(0deg) scale(1);
  }
  15% {
    opacity: 0.98;
    filter: blur(1px);
    transform: translateY(50px) rotateX(-20deg) scale(0.95);
  }
  30% {
    opacity: 0.95;
    filter: blur(2px);
    transform: translateY(100px) rotateX(-40deg) scale(0.9);
  }
  100% {
    opacity: 0.9;
    filter: blur(0.5px);
    transform: translateY(0px) rotateX(0deg) scale(1);
  }
  60% {
    opacity: 0.85;
    filter: blur(1px);
    transform: translateY(-500px) rotateX(55deg) scale(0.95);
  }
  75% {
    opacity: 0.8;
    filter: blur(2px);
    transform: translateY(-600px) rotateX(60deg) scale(0.9);
  }
  90% {
    opacity: 0.75;
    filter: blur(3px);
    transform: translateY(-700px) rotateX(65deg) scale(0.85);
  }
  100% {
    opacity: 0.6;
    filter: blur(4px);
    transform: translateY(-800px) rotateX(70deg) scale(0.8);
  }
}
