.PageContainer {
  position: absolute;
  overflow: hidden;
  min-width: 85%;
  max-height: 80%;
  aspect-ratio: 1/2.1;
  border: solid 10px;
  border-image: linear-gradient(
    to top,
    rgba(250, 0, 250, 0.6),
    rgba(255, 240, 0, 0.7),
    rgba(10, 160, 190, 0.6)
  );
  border-image-slice: 1;
  background-image: url(../assets/backpage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 86%;
  opacity: 1;
  transform-origin: 50% 120%;
  transition: all 100ms linear;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.5);
}
.PageContainerBack1 {
  animation: twist2 2.5s ease-out 0.5s alternate 1 both;
  transform-origin: 50% 50%;
}
.PageContainerBack2 {
  animation: twist1 2.5s ease-out 0.5s alternate 1 both;
  transform-origin: 50% 50%;
}
.PageContainerBack3 {
  animation: twist3 2.5s ease-out 0.5s alternate 1 both;
  transform-origin: 50% 50%;
}
.PageContainerMain {
  animation: twist 1.5s ease-out 0.5s alternate 1 both;
  transform-origin: 50% 0%;
}
.PageNextAnimation {
  animation: slideNext 450ms linear 150ms alternate 1 forwards;
}
.PagePrevAnimation {
  animation: slidePrev 450ms linear 150ms alternate 1 forwards;
}
@keyframes twist3 {
  from {
    opacity: 0;
    transform: scale(0.85) rotateZ(-15deg) translateY(60%) translateX(-80%);
  }
  to {
    opacity: 1;
    transform: scale(1) rotateZ(0deg) translate(0%);
  }
}
@keyframes twist2 {
  from {
    opacity: 0;
    transform: scale(0.85) rotateZ(15deg) translateY(-40%) translateX(-70%);
  }
  to {
    opacity: 1;
    transform: scale(1) rotateZ(-4deg) translateY(-2%);
  }
}
@keyframes twist1 {
  from {
    opacity: 0;
    transform: scale(0.85) rotateZ(-12deg) translateY(-10%) translateX(40%);
  }
  to {
    opacity: 1;
    transform: scale(1) rotateZ(6deg) translateX(-1%);
  }
}
@keyframes twist {
  from {
    opacity: 0.25;
    transform: scale(0.8) rotateZ(-12deg) translateX(30%) translateY(60%);
  }
  to {
    opacity: 1;
    transform: scale(1) rotateZ(0deg) translateX(0%);
  }
}
@keyframes slidePrev {
  0% {
    opacity: 1;
    filter: blur(0px);
    transform: skewX(0deg) skewY(0deg) translateY(0px) translateX(0px)
      rotateY(0deg) scale(1);
  }
  10% {
    opacity: 0.9;
    filter: blur(2px);
    transform: skewX(-4deg) skewY(3deg) translateY(0px) translateX(15px)
      rotateY(0deg) scale(1);
  }
  20% {
    opacity: 0.85;
    filter: blur(3px);
    transform: skewX(-5.5deg) skewY(4deg) translateY(15px) translateX(50px)
      rotateY(-3deg) scale(1.005);
  }
  30% {
    opacity: 0.8;
    filter: blur(3.5px);
    transform: skewX(-7deg) skewY(5.5deg) translateY(30px) translateX(90px)
      rotateY(-6deg) scale(1.01);
  }
  40% {
    opacity: 0.75;
    filter: blur(4px);
    transform: skewX(-9deg) skewY(7.5deg) translateY(45px) translateX(125px)
      rotateY(-9deg) scale(1.015);
  }
  50% {
    opacity: 0.7;
    filter: blur(4.5px);
    transform: skewX(-12deg) skewY(11deg) translateY(60px) translateX(175px)
      rotateY(-12deg) scale(1.02);
  }
  60% {
    opacity: 0.65;
    filter: blur(5px);
    transform: skewX(-15deg) skewY(13.5deg) translateY(80px) translateX(245px)
      rotateY(-15deg) scale(1.025);
  }
  70% {
    opacity: 0.6;
    filter: blur(5.5px);
    transform: skewX(-17deg) skewY(14.5deg) translateY(110px) translateX(310px)
      rotateY(-18deg) scale(1.03);
  }
  80% {
    opacity: 0.55;
    filter: blur(6px);
    transform: skewX(-21deg) skewY(17deg) translateY(150px) translateX(400px)
      rotateY(-21deg) scale(1.035);
  }
  90% {
    opacity: 0.5;
    filter: blur(6.5px);
    transform: skewX(-24deg) skewY(19deg) translateY(200px) translateX(450px)
      rotateY(-24deg) scale(1.04);
  }
  100% {
    opacity: 0.45;
    filter: blur(7px);
    transform: skewX(-26deg) skewY(23deg) translateY(250px) translateX(560px)
      rotateY(-27deg) scale(1.045);
  }
}
@keyframes slideNext {
  0% {
    opacity: 1;
    filter: blur(0px);
    transform: skewX(0deg) skewY(0deg) translateY(0px) translateX(0px)
      rotateY(0deg) scale(1);
  }
  10% {
    opacity: 0.9;
    filter: blur(2px);
    transform: skewX(4deg) skewY(-3deg) translateY(0px) translateX(-15px)
      rotateY(0deg) scale(1);
  }
  20% {
    opacity: 0.85;
    filter: blur(3px);
    transform: skewX(5.5deg) skewY(-4deg) translateY(15px) translateX(-50px)
      rotateY(3deg) scale(1.005);
  }
  30% {
    opacity: 0.8;
    filter: blur(3.5px);
    transform: skewX(7deg) skewY(-5.5deg) translateY(30px) translateX(-90px)
      rotateY(6deg) scale(1.01);
  }
  40% {
    opacity: 0.75;
    filter: blur(4px);
    transform: skewX(9deg) skewY(-7.5deg) translateY(45px) translateX(-125px)
      rotateY(9deg) scale(1.015);
  }
  50% {
    opacity: 0.7;
    filter: blur(4.5px);
    transform: skewX(12deg) skewY(-11deg) translateY(60px) translateX(-175px)
      rotateY(12deg) scale(1.02);
  }
  60% {
    opacity: 0.65;
    filter: blur(5px);
    transform: skewX(15deg) skewY(-13.5deg) translateY(80px) translateX(-245px)
      rotateY(15deg) scale(1.025);
  }
  70% {
    opacity: 0.6;
    filter: blur(5.5px);
    transform: skewX(17deg) skewY(-14.5deg) translateY(110px) translateX(-310px)
      rotateY(18deg) scale(1.03);
  }
  80% {
    opacity: 0.55;
    filter: blur(6px);
    transform: skewX(21deg) skewY(-17deg) translateY(150px) translateX(-400px)
      rotateY(21deg) scale(1.035);
  }
  90% {
    opacity: 0.5;
    filter: blur(6.5px);
    transform: skewX(24deg) skewY(-19deg) translateY(200px) translateX(-450px)
      rotateY(24deg) scale(1.04);
  }
  100% {
    opacity: 0.45;
    filter: blur(7px);
    transform: skewX(26deg) skewY(-23deg) translateY(250px) translateX(-560px)
      rotateY(27deg) scale(1.045);
  }
}
@media screen and (min-width: 1300px) {
  .PageContainer {
    min-width: 85%;
  }
}
@media screen and (min-width: 2000px) {
  .PageContainer {
    min-width: 70%;
  }
}
